{
  "plugins": [
    "lodash"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs",
            "useBuiltIns": "usage",
            "debug": false
          }
        ],
        "stage-0",
        "react",
        "jest"
      ],
      "plugins": [
        "lodash",
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}