@import '~react-md/src/scss/react-md';

/*
It is advised to add custom aspect ratios like this:

@import "~react-md/src/scss/react-md";
.md-media--611-450 {
    @include react-md-media-aspect-ratio(450, 611);
}

and set <Media aspectRatio="611-450"> in PostPreview.jsx
but does not work.
 */
.md-media--mdworld-cover {
    min-height: 162px;
    padding-bottom: percentage(0.25);

    @media screen and (min-width: $md-tablet-min-width) {
        min-height: 225px;
    }

    img {
        object-fit: cover;
    }
}
