@import '~react-md/src/scss/react-md';

.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }

    &.md-navigation-drawer-content {
        display: flex;
    }

    &.md-toolbar-relative {
        @media screen and (max-width: $md-mobile-min-width) {
            margin-top: 46px;
        }
    }
}

@media screen and (max-width: $md-mobile-min-width) {
    h2.md-title--toolbar {
        line-height: 48px;
    }
}
