@import '~react-md/src/scss/react-md';
$md-primary-color: $md-green-700;
$md-secondary-color: $md-grey-900;
$md-tertiary-color: $md-grey-700;

.main-container,
.darker-background {
    background-color: $md-tertiary-color;
}

a:link {
    text-decoration: none;
}

.post-html a:link {
    color: $md-orange-800;
    text-decoration: underline;
}
